@charset 'utf-8';

@import 'reset', 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

body {
    background-color:black;
    font-family: 'Quicksand', sans-serif;
    box-sizing:border-box;
}

.allWrap {
    .headerFont {
        color:#f3f3f3;
    }
    .topHeader {
        position:fixed;
        left:0;
        top:0;
        right:0;
        height:48px;
        // flex:0;
        
        
        
        .topManu {//레딧 높이 알기가 어려움 48px이 header의 다른 클래스에 들어가있는거 아닌가 하위요소가 아니라?
            display:inline-flex;
            height:48px;
            // flex-direction:row;
            // flex-grow:1;
            background-color:rgb(36, 35, 35);
            border-bottom:1px solid #474747;
            padding:0 10px;
            align-items:center;
            
            .topLogo {
                display:flex;
                
                align-items:center;
                .logo {
                    // width:30px;
                    // height:30px;
                    @include circle2(35px, #dcf551);
                }
                strong {
                    
                    margin:0 10px;
                }
            }
            .customBox {
                
                .btnCustom {
                    background-color:#131313;
                    width:90px;
                    margin:0 15px;
                    padding:5px 5px;
                    display:flex;
                    align-items:center;
                    @include radius(2px);
                    
                    .customText {
                        display:block;
                        // height:13px;
                        width:15px;
                        
                        padding-right:5px;
                        margin-right:15px;
                        border-right:1px solid #626262;
                        .fas fa-project-diagram {
                            font-size:10px;//폰트 사이즈가 안먹히고 안나올땐 html에 font-awesome링크랑 스크립트 연결시켰는지 확인
                            color:#f2f2f2;
                        }
                        
                    }
                    
                }
            }
            .searchBar {
                display:flex;
                .searchBar {
                    flex-grow:1;
                    background-color:#dcf551;
                    border:none;
                    margin-right:10px;
                    padding:5px 5px;
                    @include radius(2px);
                    &::placeholder {
                        color:rgb(51, 51, 51);
                    }
                }
                // .searchBar::placeholder {
                //     color:white;
                // }
            }
        }
    }
}

// .allWrap {
//     .topHeader {

//     }
// }